@import url("https://fonts.googleapis.com/css2?family=Poppins");
body {
  margin: 0;
  color: white;
}
h1 {
  font-weight: 700;
}
.App {
  font-family: Poppins;
  text-align: center;
  text-transform: uppercase;
}
.hero-section {
  display: block;
  position: relative;
  height: 600px;
  width: 100vw;
  background-color: maroon;
  background-image: url("https://assets.codepen.io/6060109/agency-hero-image.png");
  background-size: cover;
}
.hero-section h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
nav {
  display: flex;
  justify-content: center;
}
a {
  color: white;
  text-decoration: none;
}
nav p {
  padding: 15px 15px 0 15px;
  font-weight: 800;
}
.service-section {
  padding: 100px 0;
}
.service-section h1 {
  color: #133588;
  margin: 0 0 20px;
}
.services {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  width: 70%;
}
.service {
  color: #806c6c;
  width: 30%;
}
.service img {
  width: 100%;
}
.footer-section {
  background-color: #133588;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.footer-section h1 {
  width: 25vw;
  margin: 100px auto 50px;
  font-weight: 900;
}
input {
  display: block;
  border: none;
  margin: auto;
  background-color: transparent;
  width: 40vw;
  height: 25px;
  border-bottom: 1px solid #b2bdd8;
}
input::placeholder {
  color: white;
  font-size: 18px;
  text-align: center;
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  margin: 30px 0 0;
  color: #806c6c;
  background-color: #ffffff;
  border: none;
  font-size: 20px;
  font-weight: 600;
}
